*{
    margin: 0%;
    font-weight: bold;
}
body{
    background-color: rgb(97, 96, 96);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    text-align: center;
}

body::-webkit-scrollbar{
    display: none;

}

.page{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: grey 3px ridge;
}
.right{
    width: 70%;
}
input{
    background: transparent;
    border: black solid 2px;
    width: 150px;
    align-self: center;
}

button{
    min-width: 75px;
    height: 30px;
    background: transparent;
    border: black 1px solid;
}
button:active{
    min-width: 75px;
    height: 30px;
    background: rgb(46, 45, 45);
    border: black 1px solid;
}
.copypasta > *{
    display: flex;
    flex-direction: column;

}

.copypasta > div {
    padding: 0%;
    border: none;
    background: transparent;
}
.copypasta >div:hover {
    padding: 0%;
    border: none;
    background: gray;
}
.copypasta >div:active {
    padding: 0%;
    border: none;
    background: rgb(46, 45, 45);
}

.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 750px) {
  .page{
    flex-direction: column;
    }
}
