*{
    margin: 0%;
    font-weight: bold;
}
body{
    background: #bebebe;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    text-align: center;
}

body::-webkit-scrollbar{
    display: none;

}

.page{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.embedCards{
    background: transparent;
}
.gamemode{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 30vw;
    height: 30vh;
    background: #bebebe;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border:#E1E1E1 2px groove;
    row-gap: 10px;
}

.gamemode > *{
    margin-left: auto;
    margin-right: auto;
}
.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: #E1E1E1 2px groove;
}
.right{
    width: 70%;
}
input{
    background: transparent;
    border: black solid 2px;
    width: 150px;
    align-self: center;
}

button{
    min-width: 75px;
    height: 30px;
    background: transparent;
    border: black 1px solid;
}
button:active{
    background: #808080;
}
.copypasta > *{
    display: flex;
    flex-direction: column;

}

.copypasta > div {
    padding: 0%;
    border: none;
    background: transparent;
}
.copypasta >div:hover {
    background: #A9A9A9;
}
.copypasta >div:active {
    background: #808080;
}

.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width: 750px) {
  .page{
    flex-direction: column;
    }
    .left , .right{
    width: 100%;
    }
}

.sakiDiscord{
    margin-top: auto;
    max-height: 30px;
    max-width: 100%;
}
a{
    color: black;
    font-size: 1.25em;
    text-decoration: none;
}

.image{
    height: 30px;
    width: 30px;
    background-image: url("https://cdn.discordapp.com/attachments/909080540886495264/917206710945476628/kisspng-discord-computer-icons-logo-computer-software-avatar-5acbe3fc6e08b9.3870054215233116124507.png");
    background-repeat: no-repeat;
    background-size: cover;
}
